:root {
    --background-color: rgb(190, 77, 77);
    --text-color: rgb(255, 255, 255);
}

body {
    background-color: var(--background-color);
}

ol {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
}
h1,h2,p,li {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}
th {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 10vw;
    height: 10vw;
    font-size: 0.8rem;
    color: var(--text-color);
    border: 1px solid white;
}
table {
    margin: auto;
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button {
    width: 25%;
    height: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
